.cont-main-body{
    background-color: rebeccapurple;
    height: auto;
    min-height: 650px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .section-left{
        width: calc(75% - 55px );
        background-color: rgb(231, 231, 231);
        padding: 35px 20px 35px 35px;
        display: flex;
        flex-direction: column;
        .top{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .cont-title{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                height: fit-content;
                img{
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                }
                h4{
                    font-size: 30px;                   
                    font-weight: 500;
                    color: #24292e;
                }
            }
        }
        .cont-list-results{
            margin: 25px 0px 35px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            overflow-wrap: break-word;
            justify-content: space-between;
        }
        .cont-paginator{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

    }
    .section-rigth{
        width: calc(25% - 40px);
        padding: 40px 20px;
        height: auto;
        background-color: rgb(222, 222, 222);
        display: flex;
        align-items: center;
        flex-direction: column;
        .cont-title{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            height: fit-content;
            margin-bottom: 30px;
            img{
                width: 40px;
                height: 40px;
                margin-right: 12px;
            }
            h4{
                font-size: 30px;                   
                font-weight: 500;
                color: #24292e;
            }
        }
    }
}